*.autosave
*.user*
*~
*.html
CMakeCache.txt
CMakeFiles
*.pc
*.cbp
*.cfg
*.so
*.a
*.pyc
*.cxx
build-release
build/*.png
build/asciitest.zip
build/*.cmake
build/Makefile
build/moc_*
build/submodules/
build/ui_*
build/zm
build/zmTool
build/test_things
build/Testing
build/test
build/mm_lib
build/zm_lib
build/pyZm
build/zm_tool
build/zmQt
build/DartConfiguration.tcl
build/documentation/
