*.autosave
*.user*
*~
*.html
CMakeCache.txt
CMakeFiles
*.pc
*.cbp
*.cfg
*.s
*.a
*.pyc
*.cxx
build-*
build/*.png
build/asciitest.zip
build/*.cmake
build/Makefile
build/moc_*
build/submodules/
build/ui_*
build/zm
build/zmTool
build/test_things
build/Testing
build/test
build/mm_lib
build/zm_lib
build/pyZm
build/zm_tool
build/zmQt
build/zmQtListWidget/
build/DartConfiguration.tcl
build/documentation/
build/callgrind*
build/javaZm
build/tooling
