*.autosave
build-release
build/*.png
*.user*
*~
*.html
CMakeCache.txt
CMakeFiles
build/*.cmake
build/Makefile
build/moc_*
build/submodules/
build/ui_*
*.pc
*.cbp
*.cfg
build/zm
build/zmTool
build/test_things
*.so
*.a
pyZm.py
*.pyc
*.cxx

